XML/やさしいXML/Sample/03/Sample1.xsd

<?xml version="1.0" encoding="Shift_JIS" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="cars">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="car">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="price" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>